{% extends "base.html.twig" %}

{% block title %}Fichier membre{% endblock %}

{% block body %}
<div class="container">
<table class="table table-dark table-striped">
<thead>
    <tr>
    <th>#</th>
    <th>Civilite</th>
    <th>Prénom</th>
    <th>nom</th>
    <th>Statut</th>
    {# <th>Description</th>
    <th>Date d'enregistrement</th>
    <th>Prix </th> #}
    <th>Option</th>
    </tr>
</thead>
<tbody>
      <h1 class="text-center text-primary m-5" >Nos membres</h1>
    <div class="container">
    <a href="{{ path('register') }}" class="btn btn-primary btn-lg mb-5">Ajouter</a>
    </div>

    {% for membre in indexMembre %}
      <div class="container ">

      
    <tr>
        <td>{{ membre.id}}</td>
        <td>{{ membre.pseudo}}</td>
        <td>{{ membre.prenom}}</td>
        <td>{{ membre.nom}}</td>
        <td>{{ membre.civilite}}</td>
        {# <td>{{ membre.description|slice(0, 80)}}</td>
        <td>{{ membre.dateEnregistrement|date('d/m/Y à H:i:s') }}</td>
        <td>{{ membre.prix}}</td> #}
        <td>
           
            
            {# <a href="{{ path('voir_membre', {id: membre.id} ) }}" class="text
             #}
            <a href="{{ path("modifier_membre", {id:membre.id}) }}" class="text-warning">modifier</a>
            <a href="{{ path('supprimer_membre', {id: membre.id}) }}" class="text-danger">supprimer</a>
            

        </td>
        
    </tr>
      </div>  
    {% endfor %}
</tbody>
</table>
</div>

{% endblock %}